.layout{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    height: 100vh;
    padding: 20px;
}

.tournament-container {
  	margin-left: auto;
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 8px;
    color: white;
}
.player-table{
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}
.header{
  text-align: center;
}
.match-table-container{
    background: #28403D;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 850px;
}
.match-table-players-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 40px;
    gap: 240px;
}
.match-table-buttons{
  margin: 4px;
  border-radius: 50%;
  border: none;
  background-color: #28403D ;
  color: rgb(255, 255, 255);
  font-size: 24px;
  cursor: pointer;
  
  transition: background-color 0.2s ease;
}
.match-table-buttons:hover{
background-color: #115e59;
}
.match-table-player-container-span{
  display: flex;
  gap: 810px;
}
.match-section{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  gap: 20px;
}
.button-row{
  display: flex;
  gap: 8px;
  align-items: center;
}
.colon{
  font-size: 20px;
  color: white;

}


.player-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.enter-results-button {
    padding: 10px 20px;
    background-color: #3d5d80;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.enter-results-button:hover {
    background-color: #759ac3;
}
.center-button button {
    padding: 10px 20px;
    background-color: #3d5d80;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.center-button button:hover {
    background-color: #759ac3;
}
