.configure-game-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.form-container {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

.form-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-label {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 8px;
}

.form-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form-button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    width: 45%;
    border-radius: 6px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}
.cancel-button {
    row-gap: 50px;
    background-color: #c81d1d;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    width: 45%;
    border-radius: 6px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    margin-right: 40px;
}

.form-button:hover {
    background-color: #038c5a;
}
