body {
    background-color: #455559;
}


.configure-game-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #455559;
    font-family: Arial, sans-serif;
}

.form-container {
    background: #28403D;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

.form-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-label {
    font-size: 1.1rem;
    color: #73c6a7;
    margin-bottom: 8px;
}

.form-input {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid black;
    background-color: hwb(180 98% 2%);
}

.form-button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    width: 45%;
    border-radius: 6px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.cancel-button {
    row-gap: 50px;
    background-color: #c81d1d;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    width: 45%;
    border-radius: 6px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    margin-right: 40px;
}

.form-button:hover {
    background-color: #038c5a;
}

.img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
    color: white;
}

.header {
    background-color: #455559;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h1 {
    text-align: center;
}

.team-selection {
    justify-content: left;
    border: 10px;

}

.team-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.team-label {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 8px;
}

.team-form-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.team-option {
    width: 140px;
    height: 150px;
    border-radius: 4px;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease;
    position: relative;
    text-align: center;
}

.team-option:hover {
    transform: translateY(-4px);
}

.team-option .title {
    font-size: 14px;
    font-weight: bold;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green {
    background-color: #182625;
}

.orange {
    background-color: #db4437;
}

.teal {
    background-color: #009688;
}

.blue {
    background-color: #039be5;
}

.team-button {
    height: 70px;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.team-area {
    padding: auto;
}

.empty-button {
    background-color: #455559;
    border: #455559;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    height: 500px;
    width: 400px;
}

.modal-button {
    height: 40px
}

.cancel-team-adjustment-btn {
    height: 70px;
    background-color: #C81D1D;
    border: black;
    color: white;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}